.footer {
  padding: 1rem 6rem;
  text-align: center;
  background-color: black;
  color: #00ffea;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 30px goldenrod; 
  border-bottom: 0px solid goldenrod;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 15px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
  margin-top: 10px;
}

.social-icon:hover {
  transform: scale(2.0);
}

.social-links a:hover {
  color: goldenrod;
  text-shadow: 0 0 5px goldenrod, 0 0 10px goldenrod;
}
