.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 40px goldenrod; 
    border-bottom: 0px solid goldenrod;
  }
  
.logo-container {
  display: flex;
  align-items: center;
  font-family: 'Times New Roman';
  font-size: 4rem;
  margin-bottom: 1rem;
  color:#00ffea;
}

.logo {
  height: 60px; 
  width: 55px;
  margin-left: 20px;
  border-radius: 30px;
}

  .nav-links {
    color: #00ffea;
  }

  .nav-links li {
    display: inline-block;
    margin: 0 15px;
    
  }

  .nav-links :hover {
    color: orange;
    background-color: transparent;
    box-shadow: 
      0 0 05px goldenrod,
      0 0 05px goldenrod, 
      0 0 05px goldenrod;
    transition: transform 0.3s;
    transform: scale(1.1);
    border-radius: 6px;
  }
  
  .nav-links a {
    font-size: 1.7rem;
    transition: color 0.3s;

  }
  
  .nav-links a:hover {
    color: orange;
    text-shadow: 
    0 0 0px goldenrod, 
    0 0 0px goldenrod;
    background-color: black;
  }

  