.projects-section {
  padding: 09rem 4rem;
  background-color: black;
  color: white;
  text-align: center;
}
  .projects-title {
    font-size: 3rem;
    color: orange;
    text-shadow: 0 0 10px #ff9800, 0 0 20px #ff9800;
    margin-bottom: 2rem;
    margin-top: 20px;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .project-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 
      0 0 10px rgba(0, 255, 255, 0.2),
      0 0 30px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-title {
    font-size: 1.8rem;
    color: rgb(155, 89, 182);
    text-shadow: 0 0 5px rgba(155, 89, 182, 0.7);
  }
  
  .project-description {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 1rem 0;
  }
  
  .project-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 255, 255, 0.6);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .project-link:hover {
    background-color: rgba(0, 255, 255, 0.8);
  }
  
  .project-item:hover {
    transform: scale(1.05);
    box-shadow: 
      0 0 20px rgba(0, 255, 255, 0.6),
      0 0 40px rgba(0, 255, 255, 0.8);
  }
  