.skills-section {
    position: relative;
    height: 50vh;
    padding: 12rem 6rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: black;
    color: aqua;
  }

  .html {
    margin-top: 4rem;
  }

  .progress-bar {
    height: 10px;
    background-color: #00ffea;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ffea, 0 0 30px #00ffea;
  }
  